<head>
    <script>
        function validateForm() {
            var x = document.forms["myForm"]["filename"].value;
            var y = document.forms["myForm"]["filename2"].value;
            if (x == "" || y=="") {
                alert("Files must be filled out");
                return false;
            }
        }
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>  
    <script>  
        $(document).ready(function() {  
            $('#uploadForm').submit(function() {  
                $("#status").empty().text("File is uploading...");  
            
                $(this).ajaxSubmit({  

                    error: function(xhr) {  
                        status('Error: ' + xhr.status);  
                    },  
                
                    success: function(response) {  
                        console.log(response)  
                        $("#status").empty().text(response);  
                    }  
                });  

                return false;  
            });      
        });  
    </script>  
</head>
<a href="http://localhost:3000">
    <button>Home</button>
</a>
<h1>Costruiamo il grafo!</h1>
<body>
    <form id="uploadForm" enctype="multipart/form-data" action="/uploadjavatpoint" method="post">  
       <input type="file" name="myfile" /><br/><br/>  
       <input type="submit" value="Upload Image" name="submit"><br/><br/>  
       <span id="status"></span>  
    </form>  
</body>
