<a href="http://localhost:3000">
    <button>Home</button>
</a>
<h1>Ecco il grafo di <%=graphname%></h1>
<body>
    This text should appear above the sigma chart!

      <div id="container"></div>
      <script src='public/javascript/sigma-test-bundle.js'></script>

      This text should appear below the sigma chart!
</body>


