<head>
  <title>GenoGra</title>

  <meta name=”viewport” content=”width=device-width, initial-scale=1.0">
  <meta http-equiv=”X-UA-Compatible” content=”ie=edge”>
  <style> #container { height: 100% } </style>

</head>


</style>
</head>


<body>
  <div class="sidebar" >
    <a class="active" href="#home">Home</a>
    <a href="http://localhost:8080/graph/Covid-19">Covid-19 Graph</a>
    <a href="http://localhost:8080/build_graph">Build Your Graph</a>
  </div>
      <h1>GenoGra</h1>
      <h2>Home</h2>

</body>
<!-- <a href="http://localhost:8080/floor/5/bedroom">
  <button>schiacciami</button>
</a> -->